:root {
  --color-light: #fff;
  --color-dark: #15191f;
  --color-primary: #2d4ae9;
  --color-secondary: #282c2e;
}

html,
body {
  height: 100%;
  background: var(--color-dark) url("assets/images/adb-automator-bg.png")
    no-repeat center center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Ubuntu", Arial, sans-serif;
  color: var(--color-light);
}

/* Common */

.button {
  padding: 12px 20px;
  font-size: 18px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.button-primary {
  background-color: var(--color-primary);
}

.button-secondary {
  border: 1px solid var(--color-light);
  background-color: transparent;
}

/* Layout */

h1 {
  font-size: 18px;
}

a {
  color: var(--color-light);
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 60px;
  padding-block: 20px;
}

header {
  width: 375px;

  @media (max-width: 800px) {
    width: 50%;
  }

  img {
    display: block;
    width: 100%;
  }
}

.modal {
  display: flex;
  width: 800px;
  height: 500px;
  border: 1px solid var(--color-light);

  @media (max-width: 800px) {
    flex-direction: column;
    width: 80%;
    height: unset;
  }
}

.left {
  flex: 2;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  background: var(--color-dark);
}

.left-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.commands-checkbox-container {
  border: 1px solid var(--color-light);
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;

  label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    input[type="checkbox"] {
      accent-color: var(--color-primary);
    }
  }
}

.left-buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.run-button,
.help-button {
  flex: 1;
}

.right {
  flex: 1;
  background-color: var(--color-secondary);
  padding: 40px;
  overflow-y: auto;
  overflow-x: clip;
}

.commands-output {
  font-family: "Ubuntu Mono", monospace;

  p {
    margin: 5px 0;
  }
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
